# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#debugs
*.pdb
*.idb
*.tlog
_2048_in_C/.vs/_2048_in_C/v16/.suo
*.opendb
_2048_in_C/.vs/_2048_in_C/v16/.suo
*.ipch
*.tlog
*.idb
*.pdb
*.db
_2048_in_C/.vs/_2048_in_C/v16/.suo
*.ilk
_2048_in_C/.vs
